/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
}

.wrapper {
  display:flex;
  background-color:yellow;
  border: 2px solid grey;
  flex-direction: column;
  height: 100%;
  
}

.box {
  color:white;

}

.box1 {
  background-color:red;
}

.box3{
  background-color:black;
}

.box2{
  background-color:green;
}
h1 {
  text-align:center;
}